body {
  background-image: url(background.jpg);
  background-size: cover;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  float: left;
  border-color: #4b8ffc;
  border-style: solid;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 0;
  margin-left: 5px;
  margin-right: 10px;
  padding: 2px;
}

li a {
  display: block;
  text-decoration: none;
  color: black;
}

table {
  border-width: 10px;
  border-color: black;
}

label{
  float:left;
}
input{
  float:right;
}

#menubar {
  border-left-color: #4b8ffc;
  border-right-color: #4b8ffc;
  border-top-color: #4b8ffc;
  border-bottom-color: lightgrey;
  border-style: solid;
  background: lightgrey;
  margin-left: 0px;
  line-height: normal;
  border-top-width: 10px;
  border-radius: 5px;
  padding: 10px;
}

#wrapper {
  margin: 100px;
  margin-top: 50px;
  border-style: solid;
  border-color: #4b8ffc;
  border-radius: 10px;
  padding: 1%;
  background-color: lightgrey;
}

#bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4b8ffc;
  color: white;
  text-align: center;
  opacity: 0.8;
}
